<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
  <section class="info">
    <header>
      <h2>Peter Lonestar</h2>
      <h3>Founder</h3>
    </header>


    <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
  </section>

  <section class="info">
    <header>
      <h2>Bill Billerson</h2>
      <h3>CFO</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae aut quam iusto eius accusamus eaque quia porro ea explicabo! Nobis eveniet facilis reiciendis dicta consequuntur excepturi officia veritatis voluptatem.
      </p>
    </header>
  </section>

  <section class="info">
    <header>
      <h2>Christian Solis</h2>
      <h3>CTO</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi reprehenderit quisquam magni suscipit quam nostrum, voluptatem iste praesentium perspiciatis aut excepturi distinctio assumenda ducimus dignissimos tempora culpa maxime vitae. Cum.
      </p>
    </header>
  </section>
</div>

<footer>
  Contact us: <span>admin@tweetful.io</span>
</footer>
